

/* базовые переменные, светлая тема */
:root {

    --background-color: #ffffff;           /* фон центра */
    --background-band-color: #f5f5f5;      /* фон по бокам*/

    --text-color: #000000;         /* основной текст */
    --link-color: #1a0dab;         /* цвет ссылок */

    --btn-bg: transparent;         /* фон кнопок и инпутов */
    --btn-text: #000000;           /* цвет текста кнопок */
    --btn-border: rgb(41, 40, 40); /* цвет обводки */
    --btn-hover-bg: rgba(0, 0, 0, 0.05); /* фон при наведении */


    --theme-btn-bg: #ecde8b;     /* фон кнопки переключения темы в светлой теме */






}

/* тёмная тема */
[theme="dark"] {

    --background-color: #2b2b2b;          /* фон центра */
    --background-band-color: #1e1e1e;   /* фон по бокам*/

	--text-color: #f5f5f5;         /* основной текст */
    --link-color: #4e9af1;         /* цвет ссылок */

    --btn-bg: transparent;                 /* фон кнопок и инпутов */
    --btn-text: #f5f5f5;                   /* цвет текста кнопок */
    --btn-border: rgb(100, 100, 100);      /* цвет обводки */
    --btn-hover-bg: rgba(255, 255, 255, 0.2); /* фон при наведении */

    --theme-btn-bg: #494545;     /* фон кнопки в тёмной теме */

}	

/* убираем стандартные отступы */
html, body {
    margin: 0;
    padding: 0;
}

.band{
	display: grid;
	grid-template-columns: 1fr min(100%, 800px) 1fr;
	min-height: 100vh;
	background: #7a7878;

	background-color: var(--background-band-color);
}

.main{


	grid-column: 2;            /* строго в центре */
	background: white;
	padding:  17px 17px 0 17px;                /* отступы в центре */
    

        position: relative;  /* чтобы меню абсолютное было относительно .main */

	background-color: var(--background-color);
	color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.gear {
    font-size: 22px; /* размер шрифта */
}

/* кнопки и инпуты */
button, input {
    margin-bottom: 15px;
    margin-right: 15px;

    background-color: var(--btn-bg);    /* фон */
    color: var(--btn-text);             /* текст */
    border: 1px solid var(--btn-border); /* обводка */
    padding: 10px 16px;                   /* внутренние отступы */
    border-radius: 5px;                  /* скругление углов */
    cursor: pointer;
    transition: 0.3s;                    /* плавный переход при hover */
}

button:hover {
    background-color: var(--btn-hover-bg); /* фон при наведении */
}


button.theme-toggle {        /* кнопка переключения темы */
    background-color: var(--theme-btn-bg);
    color: var(--theme-btn-text);
    border: 1px solid var(--theme-btn-text);
    padding: 7px 7px;
    border-radius: 7px;
    cursor: pointer;
    /* transition: 0.3s; */
}