{{ define "base" }}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/img/chat.png" type="image/png">
  <link rel="stylesheet" href="/static/css/logo.css">
  <link rel="stylesheet" href="/static/css/theme.css">



  <title>chat.com</title>
</head>

<body theme="{{ .Theme }}">

  <div class="band">
    <div class="main">
      {{ block "logo" . }}{{ end }}

      <div id="content">
        <p>hello</p>
        <form hx-post="/start" hx-target="#content" hx-swap="innerHTML">

          <h1>Preparation for Launch</h1>
          <p>Captain, awaiting your orders — we’re ready to lift off!</p>

          <!-- Honeypot-поля (сдвинутые за пределы экрана) -->
          <input type="text" name="hp_code" autocomplete="off" style="position:absolute; left:-5000px; top:-5000px;">
          <input type="text" name="hp_secret" autocomplete="off" style="position:absolute; left:-5000px; top:-5000px;">



          <button type="submit">Next</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/htmx.org@1.9.3"></script>

</body>

</html>

{{ end }}