{{ define "base" }}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/img/chat.png" type="image/png">
  <link rel="stylesheet" href="/static/css/logo.css">
  <link rel="stylesheet" href="/static/css/theme.css">



  <title>chat.com</title>
</head>

<body theme="{{ .Theme }}">

  <div class="band">
    <div class="main">
      {{ block "logo" . }}{{ end }}

      <div id="content">
        <p>Добнро пожаловать в чат!</p>
        <form hx-post="/start" hx-target="#content" hx-swap="innerHTML">
          <button type="submit">Next</button>
        </form>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/htmx.org@1.9.3"></script>

</body>

</html>

{{ end }}