<!--  -->









<!--  -->
{{ define "email" }}
<div class="form-container">
    <form id="email-form" method="POST" hx-post="/get-password" hx-target="#content" hx-swap="innerHTML">
        <div class="form-field">
            <label for="email-input">Напишите почту:</label><br>
            <br>
            <input type="text" id="email-input" name="email" value="{{.Email}}" placeholder="@gmail.com" minlength="13"
                maxlength="50" hx-post="/check-email" hx-trigger="keyup changed delay:300ms"
                hx-target="#check-email-status" hx-swap="innerHTML">
        </div>

        {{ template "check__email" . }}

        <div class="form-buttons">
            <button type="button" hx-get="/" hx-target="body" hx-swap="innerHTML">Back</button>
        </div>
    </form>
</div>
{{ end }}