<!--  -->








<!--  -->
{{ define "email" }}

<div>
    <div>&nbsp;</div>

    <form id="email-form" method="POST" hx-post="/get-password" hx-target="#email" hx-swap="outerHTML">



        <div id="email">
            <label for="email">Напишите почту, мы отправим вам емаил!</label><br>
            <br>
            <input type="text" id="email" name="email" value="{{.Email}}" placeholder="@gmail.com" minlength="13"
                maxlength="50" hx-post="/check-email" hx-trigger="keyup changed delay:300ms" hx-target="#check__email"
                hx-swap="innerHTML">



            {{ template "check__email" . }}
        </div>

        <button hx-post="/" hx-target="body" hx-swap="innerHTML">Back</button>

    </form>


</div>

{{ end }}