<!--  -->














<!--  -->
{{ define "get__code" }}

<p>Введите код из письма для старта.</p>

<!-- Скрыто передаём email, чтобы знать кому проверять код -->
<form>
    <input type="hidden" id="email" name="email" value="{{.Email}}">

    <input type="text" id="code" name="code" placeholder="Введите код"><br>
</form>
<br>

<button hx-post="/verify-code" hx-target="#content" hx-swap="innerHTML" hx-include="#email,#code">
    Старт
</button>

<button hx-get="/" hx-target="body" hx-swap="innerHTML">Back</button>

{{ end }}