










{{ define "logo" }}

<div  style="display: flex; justify-content: space-between; align-items: center; padding: 5px;">

    <div class="logo" hx-get="/" hx-target="body" hx-swap="innerHTML" style="cursor:pointer;">

        <div class="plan">
            <div class="square tl"></div>
            <div class="square tr"></div>
            <div class="square bl"></div>
            <div class="square br"></div>
            <div class="square center"></div>
        </div>

        <span><strong></strong></span>

    </div>

    <form hx-post="/theme" hx-swap="none">

        <button class="theme-toggle" type="submit"></button>

    </form>

</div>
{{ end }}